@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 249 26% 14%;
    --card: 0 0% 100%;
    --card-foreground: 249 26% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 249 26% 14%;
    --primary: 246 31% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 74% 53%;
    --secondary-foreground: 0 0% 100%;
    --muted: 247 47% 96%;
    --muted-foreground: 235 14% 49%;
    --accent: 40 89% 60%;
    --accent-foreground: 249 26% 14%;
    --destructive: 0 72% 59%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 37% 92%;
    --input: 232 37% 92%;
    --ring: 246 31% 49%;
    --chart-1: 246 31% 49%;
    --chart-2: 219 74% 53%;
    --chart-3: 40 89% 60%;
    --chart-4: 149 58% 43%;
    --chart-5: 202 71% 52%;
    --radius: 0.5rem;
    --sidebar-background: 247 47% 96%;
    --sidebar-foreground: 240 15% 35%;
    --sidebar-primary: 246 31% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 246 35% 92%;
    --sidebar-accent-foreground: 249 26% 14%;
    --sidebar-border: 232 37% 92%;
    --sidebar-ring: 246 31% 49%;
  }
  .dark {
    --background: 249 19% 10%;
    --foreground: 0 0% 98%;
    --card: 249 19% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 249 19% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 31% 70%;
    --primary-foreground: 249 26% 14%;
    --secondary: 219 74% 45%;
    --secondary-foreground: 0 0% 98%;
    --muted: 249 15% 18%;
    --muted-foreground: 235 14% 70%;
    --accent: 40 89% 55%;
    --accent-foreground: 249 26% 14%;
    --destructive: 0 72% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 249 16% 20%;
    --input: 249 16% 20%;
    --ring: 246 31% 70%;
    --chart-1: 246 31% 70%;
    --chart-2: 219 74% 55%;
    --chart-3: 40 89% 60%;
    --chart-4: 149 58% 50%;
    --chart-5: 202 71% 60%;
    --sidebar-background: 249 19% 10%;
    --sidebar-foreground: 240 15% 80%;
    --sidebar-primary: 246 31% 70%;
    --sidebar-primary-foreground: 249 26% 14%;
    --sidebar-accent: 249 16% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 249 16% 16%;
    --sidebar-ring: 246 31% 70%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
